
/* Global Styles */
body {
    font-family: iranianSans;
    background-color: #ffffff;
    color:#333333;
    line-height: 2;
    font-size: 14px;

}
#wrapper{

}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    /*animation: zoomIn 5s  ;*/
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-nav .fa {
    color: darkred;
}
.navbar-nav li{
    margin: 5px 0;
    width: 110px;
    text-align: center;
}
#logo{
    width: 68px;
    height: 68px;
    background: goldenrod;
    line-height:68px;
    text-align: center;
    transform: rotate(45deg);
    margin-top: 10px;

}
#logo .fa{
    color:orangered;
}
.diamond{
    width: 50px;
    height: 50px;
    background: gainsboro;
    line-height:50px;
    text-align: center;
    transform: rotate(45deg);
    margin-right: 13px;
}
.diamond span{
    transform: rotate(-45deg);
    vertical-align: middle;
}
.diamond:hover{
    background-color: #ffcc00;
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
@keyframes example {
    from {background-color: gainsboro; }
    to {background-color: #ffcc00;}
}
@media (min-width: 768px) {
    .navbar-nav {
        margin-right: 3px;
        margin-left: 3px;
    }
}
#myCarousel{
    margin-top: 150px;
}
.carousel-control{
    color: #ffcc00;
    line-height: 355px;
    height: 355px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    max-height: 350px !important;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
.service-item :hover{

}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .carousel-inner img{
        width:100%;
        max-height: 200px !important;

    }
}
/*
* animations
*/
@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}
@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation-name: slideInRight;
}
@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}
@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}


@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

