/**
/* this page show our work
/**
<div class="container-fluid">
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>سفارش سایت های رایج</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shopping-bag fa-stack-1x text-danger"></i>
                            </span>
                                <h4>
                                    <strong>فروشگاهی</strong>
                                </h4>
                                <p class="text-justify">شما هم میتوانید وب سایت فروشگاهی داشته باشید.
                                    هم اکنون فروشگاه خود را سفارش دهید و به طور کامل مدیریت نمایید.
                                    اجازه بدهید مغازه های حقیقی کالاهایشان را در فروشگاه شما بفروش برسانند.</p>
                                <a href="#" class="btn btn-block btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>خبری</strong>
                                </h4>
                                <p class="text-justify">این روزها همه در فضای آنلاین به دنبال اخبار هستند.
                                    از فرصت استفاده کنید و وب سایت خبری کامل داشته باشید.
                                    اجازه دهید در فضای اینترنت بهتر دیده شوید.</p>
                                <a href="#" class="btn btn-light btn-block ">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x text-warning "></i>
                            </span>
                                <h4>
                                    <strong>شخصی</strong>
                                </h4>
                                <p class="text-justify">با داشتن وب سایت شخصی بهتر دیده شوید.
                                    میدانید هم اکنون خیلی ها به دنبال شما هستند؟
                                    رزومه خود را آنلاین کنید</p>
                                <a href="#" class="btn btn-block btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-share-alt text-success fa-stack-1x "></i>
                            </span>
                                <h4>
                                    <strong>تبلیغات</strong>
                                </h4>
                                <p class="text-justify">ما متخصص پیاده سازی وب سایت تبلیغاتی و آگهی هستیم.
                                    مطمئن باشید وب سایت تبلیغاتی شما بازدید کنندگان زیادی را خواهد داشت.
                                    این مطلب کاملا از بهینه سازی سایت های تبلیغاتی ما در گوگل مشخص میباشد.</p>
                                <a href="#" class="btn  btn-block btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

</div>